/*FF6666 Ta bort knapp  66B2FF Lägg till/Slutför ditt köp, 202020 Alla svarta element, FFFFFF Alla vita element  */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header area */

header h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    color: #FFFFFF; 
}

header a { 
    text-decoration: none;
}

.phone-div h2 {
    font-family: 'Secular One', sans-serif;
/*Find a better font*/

}

header {
    height: 70px;
    background-color: #202020;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.hdiv-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hdiv-right p {
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
    font-size: 2.5rem;
}

.shopping-cart-number {
    font-size: 2.5rem;
    }

#shoppingcart {
font-size: 2rem;
color: #FFFFFF;
}

.fa-solid {
    color: #202020;
}

/* mobile modells area */

.phone-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-width: 200px;
}

.phone-div img {
    height: 400px;
}

.phone-div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 10px; 
}

.addToCartBtn {
    background-color: #66B2FF;
    color: #ffffff;
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.addToCartBtn i {
    margin-right: 20px;
}



.addCheckoutBtn {
    background-color: #66B2FF;
    color: #ffffff;
    height: 2.5rem;
    width: 18rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.fa-solid {
    color: #fff;
    background-color: transparent;
}

/* Styling för enheter med bredd på minst 768px här - padda*/
@media screen and (max-width: 768px) { 
    header i {
        font-size: 1.5rem;
    }

    .hdiv-right p {
        font-size: 1.5rem;
    }

    .hdiv-left h1 {
        font-size: 1.5rem;
    }   

    .phone-div {
        min-width: 150px;
    }
    
    .phone-div img {
        height: 150px;
    }
    
    .phone-div h2 {
        font-size: 2rem;
    }
        
    p {
        margin: 10px; 
    }
}

/* Styling för enheter med bredd på minst 320-480px här - mobil*/
@media screen and (max-width: 320px)  {
/* header area */
    .hdiv-left h1 {
            font-size: 1rem;
    }

    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hdiv-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hdiv-right p {
        font-weight:lighter;
        
    }

    .shopping-cart-number {
    font-size: 1.5rem;
    }

}