/*FF6666 Ta bort knapp  66B2FF Lägg till/Slutför ditt köp, 202020 Alla svarta element, FFFFFF Alla vita element  */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #202020;
}

/* header area */

header h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 200;
}

.phone-div h2 {
    font-family: 'Secular One', sans-serif;
/*Find a better font*/

}

header {
    height: 70px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* mobile modells area */

.phone-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.phone-div h2 {
    font-size: 2.5rem;
}

p {
    font-family: 'Secular One', sans-serif; 
    margin: 10px; 
}

.addToCartBtn {
    background-color: #66B2FF;
    color: #ffffff;
    height: 2.5rem;
    width: 18rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}



/* leta efter en lösning för att ändra ikonens färg */
i {
    color: #fff;
    background-color: transparent;
}




/* Styling för enheter med bredd på minst 768px här - padda*/

@media screen and (min-width: 768px) { }

/* Styling för enheter med bredd på minst 320-480px här - mobil*/

@media screen and (min-width: 480) { }