/*FF6666 Ta bort knapp  66B2FF Lägg till/Slutför ditt köp, 202020 Alla svarta element, FFFFFF Alla vita element  */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header area */

header h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    color: #FFFFFF; 
}

header a { 
    text-decoration: none;
}



header {
    height: 70px;
    background-color: #202020;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.hdiv-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hdiv-right p {
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Secular One', sans-serif;
    font-weight:lighter;
    font-size: 2rem;
}

#shoppingcart {
font-size: 2rem;
color: #FFFFFF;
}

.fa-solid {
    color: #fff;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}






.returnToStartBtn {
    height: 50px;
    width: 220px;
    border-radius: 5px;
    background-color: #66B2FF;
    font-size: 1.2rem;
    color: #fff;
    border: none;
}